body	{
	font-size: 24pt;
	/* Body is set to a red background for testing. */
	/* background-color: red; */
	}
td	{
	font-size: 24pt;
	}
#dialog-box	{
	left: 5px;
	top: 5px;
	}
.post-container	{
	margin: auto;
	}
#body-container	{
	margin: 25px 0px 0px 160px;
	position: relative;
	width: auto;
	}
#navbar	{
	position: absolute;
	top: 0px;
	left: -165px;
	width: 150px;
	font-size: 20pt;
	}
.post	{
	width: auto;
	}
#login-box	{
	position: static;
	margin: auto;
	width: 250px;
	margin-bottom: 25px;
	}
/* The preview of a pinged post would completely fill the viewport. */
#display-pinged-post	{
	display: none;
	}
.reply-button	{
	width: 90px;
	height: 50px;
	font-size: 80%;
	}
