body	{
	font-size: 14pt;
	}
td	{
	font-size: 14pt;
	}
#dialog-box	{
	left: 5px;
	top: 5px;
	}
.post-container	{
	width: auto;
	}
.post	{
	width: auto;
	}
/* The preview of a pinged post would completely fill the viewport. */
#display-pinged-post	{
	display: none;
	}
