body	{
	font-size: 14pt;
	background-color: red;
	}
td	{
	font-size: 14pt;
	}
#dialog-box	{
	left: 5px;
	top: 5px;
	}
.post-container	{
	margin: auto;
	}
#body-container	{
	background-color: green;
	margin: 0px;
	position: absolute;
	top: 50px;
	left: 250px;
	}
.post	{
	width: auto;
	}
#login-box	{
	width: 100px;
	}
/* The preview of a pinged post would completely fill the viewport. */
#display-pinged-post	{
	display: none;
	}
