body	{
	font-family: Verdana;
	font-size: 10pt;
	}
td	{
	font-family: Verdana;
	font-size: 10pt;
	vertical-align: top;
	}
#header	{
	padding-bottom: 10px;
	}
#body-container	{
	margin: auto;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 700px;
	}
#composer-table	{
	margin-bottom: 75px;
	}
.error	{
	background-color: #eeeeee;
	color: #aa0000;
	padding: 5px;
	}
.info	{
	background-color: #eeeeee;
	color: #00aa00;
	padding: 5px;
	}
.banner-ad	{
	border: 1px solid black;
	background-color: #ff4444;
	text-align: center;
	}
img.banner-ad	{
	margin: auto;
	width: 728px;
	height: 90px;
	}
.post-container	{
	display: table;
	width: 100%;
	}
.post	{
	clear: both;
	min-height: 100px;
	display: table-row;
	width: 100%;
	}
.post-content	{
	border-top: 1px solid #dddddd;
	padding-top: 5px;
	display: table-cell;
	vertical-align: top;
	padding-bottom: 25px;
	}
.post-navigation	{
	width: 100%;
	text-align: right;
	margin-top: 3px;
	background-color: #eeeeee;
	padding: 4px;
	}
.timestamp	{
	float: right;
	color: #aaaaaa;
	text-decoration: none;
	font-size: 9pt;
	padding-left: 5px;
	padding-bottom: 5px;
	}
.timestamp a	{
	color: #aaaaaa;
	text-decoration: none;
	}
div.author	{
	width: 175px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 6px;
	text-align: center;
	display: table-cell;
	}
div.comment-author	{
	width: 125px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 9pt;
	display: table-cell;
	}
#compose-post	{
	width: 510px;
	height: 135px;
	font-family: Verdana;
	font-size: 10pt;
	}
#post-preview	{
	position: relative;
	top: 0px;
	left: 0px;
	width: 500px;
	min-height: 125px;
	border: 1px solid #666666;
	padding: 5px;
	background-color: white;
	z-index: 100;
	}
.author-details	{
	font-size: 9pt;
	background-color: #eeeeee;
	}
.comments	{
	margin-top: 5px;
	display: table;
	width: 100%;
	}
.comment	{
	color: #666666;
	display: table-row;
	}
.comment-content	{
	display: table-cell;
	vertical-align: top;
	}
